// COLORS
$darkColor: #272727;
$lightColor: #f9fcfd;
$whiteColor: #ffffff;
$grayColor: #8f8f8f;
$darkGrayColor: #343434;
$lightGrayColor: #ededed;
$redColor: #ff0000;
$blueColor: #39c2d7;
$paleGrayColor: #bbbbbb;
$blackColor: #000000;

// SPACES
$space-xl: 30px;
$space-l: 25px;
$space-m: 20px;
$space-s: 15px;
$space-xs: 10px;
$space-xxs: 5px;

// FONTS
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;
$fs12: 12px;

// SIZES
$parentMaxWidth: 1630px;
