// COLORS

$epam-blue: #39c2d7;
$epam-blue-dark: #30a4b6;
$epam-green: #a3c644;
$epam-black: #464547;
$epam-red: #b22746;
$epam-violet: #8e244d;
$graphite: #222222;
$white: #ffffff;
$coral: #d35d47;
$bright-blue: #008ace;
$dark-blue: #263852;
$gray: #bcb9b5;
$light-gray: #dcdcda;

// SPACE SIZES

$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 64px;

// FONT SIZES

$fs20: 20px;
$fs16: 16px;
$fs14: 14px;
$fs12: 12px;
