@import '../../styles/index.scss';

.rights {
  font-size: 12px;
}

.icons {
  a {
    margin: 0 10px;

    @include screenMax500 {
      margin: 0 5px;
    }
  }
}

.root {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  background: $epam-black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights {
  color: inherit;
  font-weight: 300;
}

.icons {
  display: flex;
  align-items: center;
  & a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
  }
}
