@import '../../styles/index.scss';

.container {
  padding: $space-xs;
  margin-top: $space-xxs;

  %body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $parentMaxWidth;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    .credits {
      text-align: center;
      margin-top: $space-xxs;
      margin-bottom: $space-xxs;

      @include screenMax600 {
        display: none;
      }
    }

    .iconContainer {
      display: flex;
      align-items: center;
      flex-direction: column;

      .divider {
        margin-left: $space-s;
        margin-right: $space-s;
      }

      .darkDivider {
        @extend .divider;
        border-color: $lightColor;
      }
    }
  }

  .lightBody {
    @include lightBlock;
    @extend %body;

    box-shadow: none;
    color: $darkColor;
  }

  .darkBody {
    @include darkBlock;
    @extend %body;

    color: $lightColor;
  }
}
