@import '../../../../styles/index.scss';

%body {
  width: 455px;
  padding: $space-xxs;
  overflow-x: hidden;

  svg {
    color: $blueColor;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space-xxs;
    padding-left: $space-s;
  }

  .modalTitle {
    font-family: roboto-bold;
    font-size: $fs20;
  }

  .optionsContainer {
    display: flex;

    .optionsColumn {
      margin-right: $space-xxs;
      margin-left: $space-xxs;
    }
  }

  .divider {
    margin-top: $space-xxs;
    margin-bottom: $space-xxs;
  }

  .darkDivider {
    border-color: $lightColor;
  }

  .disabled {
    color: $grayColor;

    svg {
      color: $grayColor;
    }
  }

  .buttonContainer {
    margin-top: $space-xxs;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      color: $blueColor;
    }
  }
}

.lightBody {
  @extend %body;

  background-color: $lightColor;
  color: $darkColor;
}

.darkBody {
  @extend %body;

  background-color: $darkColor;
  color: $lightColor;
}

.cursorPointer {
  cursor: pointer;
}
