@import '../../styles/index.scss';

.app-bar {
  box-shadow: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  background-color: $epam-black !important;

  .toolbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    margin-right: $space-s;
    img {
      height: $space-xl;
      object-fit: cover;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .settings-btn {
    margin-right: $space-s;
  }

  .add-city-button {
    margin-left: $space-s;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .add-city-button {
    display: none;
  }
  .add-city-icon-button {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .add-city-icon-button {
    display: none;
  }
  .add-city-button {
    display: block;
  }
}
