@import '../../../../styles/index.scss';

%body {
  height: 100%;
  width: 400px;
  overflow: auto;

  @include screenMax500 {
    width: 100vw;
  }

  .header {
    padding: $space-s;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: $fs20;
      font-family: roboto-bold;
    }
  }

  .inputContainer {
    padding-right: $space-s;
    padding-bottom: $space-s;
    padding-left: $space-s;

    %input {
      width: 100%;
      border: 1px solid $blueColor;
      border-radius: 5px;
      height: 50px;
      padding: $space-s;
      font-size: $fs14;
      transition: 0.2s;

      &:focus {
        outline: 1.5px solid $blueColor;
      }

      &::placeholder {
        color: $grayColor;
      }
    }

    .lightInput {
      @extend %input;

      background-color: $lightColor;
      color: $darkColor;
    }

    .darkInput {
      @extend %input;

      background-color: $darkColor;
      color: $lightColor;
    }
  }

  .searchResultsContainer {
    padding: $space-s;

    %foundLocation {
      display: block;
      border-bottom: 1px solid $lightGrayColor;
      padding-right: $space-s;
      padding-bottom: $space-s;
      padding-left: $space-s;
      padding-top: $space-s;
      transition: 0.2s;
      cursor: pointer;

      &:focus {
        background-color: $darkGrayColor;
      }

      .title {
        font-size: $fs16;
        font-family: roboto-medium;
      }

      .zone {
        font-size: $fs14;
      }
    }

    .lightFoundLocation {
      @extend %foundLocation;

      &:hover,
      &:focus-within {
        background-color: $lightGrayColor;
      }
    }

    .darkFoundLocation {
      @extend %foundLocation;

      &:hover,
      &:focus-within {
        background-color: $darkGrayColor;
      }
    }

    .notFound {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      font-size: $fs16;
      font-family: roboto-medium;
    }
  }
}

.lightBody {
  @extend %body;

  background-color: $lightColor;
  color: $darkColor;
}

.darkBody {
  @extend %body;

  background-color: $darkColor;
  color: $lightColor;
}
