@media screen and (max-width: 600px) {
  .copy-button {
    display: none;
  }

  .copy-icon-button {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .copy-icon-button {
    display: none;
  }

  .copy-button {
    display: block;
  }
}
