@import '../../../../styles/index.scss';

.copy-button {
  @include screenMax600 {
    display: none;
  }
  @include screenMin600 {
    display: block;
  }
}

.copy-icon-button {
  display: block;
  @include screenMax600 {
    display: block;
  }
  @include screenMin600 {
    display: none;
  }
}
