@import '../../styles/index.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';

  .paper {
    border-radius: 4px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    min-height: 150px;

    @include screenMax500 {
      width: 90vw;
    }
  }

  .paper-light {
    background-color: #fff;
  }

  .paper-dark {
    background-color: $epam-black;
  }

  .text-block {
    flex: 1 1 50px;
  }

  .text {
    font-size: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .text-dark {
    color: #000;
  }

  .text-light {
    color: #fff;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
  }

  .button {
    width: 50%;
  }

  .cancel-button {
    margin: 0 5px 10px 10px;
  }

  .delete-button {
    background-color: $epam-red;
    border-color: $epam-red;
    opacity: 0.95;
    margin: 0 10px 10px 5px;
    color: white;
    &:hover {
      background-color: $epam-red;
      opacity: 1;
    }
  }
}
