@import '../../../../styles/index.scss';

.default {
  text-align: center;
  margin: 0;
  position: relative;
}

.switch {
  color: $epam-blue;
}

.margin-block {
  display: inline-block;
  width: $space-s;
}

.mode-control-btn {
  height: 56px;
}

.mode-control-btn-dark {
  & button {
    border-color: rgba(255, 255, 255, 0.5);
    & svg {
      color: white;
    }
    & span {
      color: white;
    }
  }
}
