@import '../../../../../../styles/index.scss';

.timeInfo {
  font-family: roboto-medium;
  font-size: $fs18;
  margin-bottom: $space-xxs;
  text-align: end;
}

.timeContainer {
  min-width: 0;
  color: $grayColor;
  text-align: end;
}

.cityCountryBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.planningMode {
  animation-duration: 2s;
  animation-name: planningMode;
  animation-iteration-count: infinite;
}

@keyframes planningMode {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
