@import '../../../../../../styles/index.scss';

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;

  .timeInfo {
    font-family: roboto-medium;
    font-size: $fs18;
    margin-bottom: $space-xxs;
  }

  .bottomInfo {
    min-width: 0;
    color: $grayColor;
    text-align: end;

    .timezone {
      width: 10em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
