.appbar {
  box-shadow: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  color: white !important;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  height: 28px;
  object-fit: cover;
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 360px) {
  .title {
    margin-right: 4px;
  }
  .addCityButton {
    margin-left: 4px;
  }
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .title {
    margin-right: 6px;
  }
  .addCityButton {
    margin-left: 6px;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .title {
    margin-right: 8px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .title {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin-right: 12px;
  }
  .addCityButton {
    margin-left: 12px;
  }
}
