.appbar {
  box-shadow: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  color: white !important;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  height: 28px;
  object-fit: cover;
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
}
