.name-container:hover {
    & .icons {
        display: flex;
    }
}

.name-input {
    padding: 0 5px;
    color: white !important;
    &:before {
        border-bottom: 1px solid white !important;
    }
}

.icons {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
