.container {
  width: fit-content;
  min-width: 270px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgb(0, 0, 0, 0.2),
    0 6px 10px 0px rgb(0, 0, 0, 0.14), 0 1px 18px 0px rgb(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
}

.danger {
  background-color: #f44336 !important;
}

.warning {
  background-color: #ff9800 !important;
}

.info {
  background-color: #2196f3 !important;
}

.success {
  background-color: #4caf50 !important;
}

.message {
  padding: 8px 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 12px;
}

.closeButton {
  color: white !important;
  fill: white !important;
}
