@import '../../styles/index.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .paper {
    min-height: 150px;
    margin: $space-s;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgb(0, 0, 0, 0.2),
      0 5px 8px 0px rgb(0, 0, 0, 0.14), 0 1px 14px 0 rgb(0, 0, 0, 0.12);
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include screenMax500 {
      width: 90vw;
    }
  }

  .paper-light {
    background-color: #fff;
    color: #000;
  }

  .paper-dark {
    background-color: $epam-black;
    color: #fff;
  }

  .text-block {
    flex: 1 1 50px;
    padding: $space-xl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: 20px;
  }

  .label {
    font-family: Roboto, sans-serif;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
  }

  .button {
    width: 50%;
  }

  .cancel-button {
    margin: 0 $space-xxs $space-s $space-s;
  }

  .save-button {
    opacity: 0.95;
    margin: 0 $space-s $space-s $space-xxs;
    color: white;
    background-color: $epam-blue;
    border-color: $epam-blue;

    &:hover {
      background-color: $epam-blue-dark;
      border-color: $epam-blue-dark;
    }
  }

  .grey {
    color: $gray;
  }

  .default {
    text-align: center;
    margin: 0;
    position: relative;
  }

  .time {
    display: flex;
    position: relative;
  }

  .hour {
    &::after {
      content: ':';
      position: relative;
      top: -2px;
      margin: 0 $space-xs;
    }
  }

  .mb20 {
    margin-bottom: $space-l;
    position: relative;
  }

  .mb25 {
    margin-bottom: $space-l;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }

  .bottom-container {
    display: flex;
    align-items: center;
  }
}
