@import '../../../../styles/index.scss';

.sidebarPaper {
  width: 400px;

  @include screenMax500 {
    width: 100vw;
  }
}

.sidebarDark {
  background-color: #121212 !important;
  color: white;
}

.sidebarDarkTypography {
  color: white;
}

.sidebarCloseBtnDark {
  svg {
    color: white;
  }
}

.textFieldDark {
  & label {
    color: white;
  }

  & input {
    color: white;
  }

  & fieldset {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
  }
}

#toolbar {
  font-family: 'Roboto', sans-serif;
  padding-right: 16px !important;
}

.drawerBody {
  padding: 0 $space-m;
  .drawerList {
    overflow-y: auto !important;

    li {
      padding: $space-xs;
      border-radius: 4px;
      margin: $space-s $space-xxs 0 $space-xxs;
    }
  }
}

.textFieldSize {
  width: 100%;
}
