@import '../../../../styles/index.scss';

.time {
  display: flex;
  position: relative;
}

.hour {
  &::after {
    content: ':';
    position: relative;
    top: -10px;
    margin: 0 $space-xs;
  }
}
