@import '../../../../../../styles/index.scss';

.active {
  background-color: $redColor;
  color: $whiteColor;
}

.deleteButton {
  &:focus-within {
    outline: none;

    & .deleteButton {
      @extend .active;
    }
  }

  position: absolute;
  right: -10px;
  top: -10px;
  background-color: $lightGrayColor;
  color: $darkGrayColor;

  &:hover {
    @extend .active;
  }

  .icon {
    font-size: $fs16;
  }
}
