@import '../../styles/index.scss';

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.city {
  font-size: 16px;
  font-weight: 600;
}

.countryLight {
  font-size: 14px;
  font-weight: 400;
  color: $epam-black;
}

.countryDark {
  font-size: 14px;
  font-weight: 400;
  color: $white;
}

.disabled {
  pointer-events: none;
}

.badgeRoot {
  display: block !important;

  .badge {
    transform: translate(0, -50%);
    padding: 10px;
    color: white;
  }

  .badgeLight {
    @extend .badge;
    background-color: $epam-blue;
  }

  .badgeDark {
    @extend .badge;
    background-color: $bright-blue;
  }
}

.itemLight {
  background-color: #ffffff;
  box-shadow: rgb(212, 217, 225) 0 1px 3px 0;
}

.itemDark {
  background-color: #424242;
  box-shadow: rgb(34, 34, 34) 0 1px 3px 0;
}
