.card {
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: all 0.25s ease-out;
  min-width: 280px;
  &:hover {
    box-shadow: 0 0 2px #bcb9b5;
  }

  .pointer {
    padding: 2px 8px;
    color: white;
    background-color: orange;
    border-radius: 20px;
    margin-bottom: 8px;
  }

  .difference {
    color: #bcb9b5;
  }

  .time {
    color: #464547;
    display: flex;
    .hour {
      &:after {
        content: ":";
        position: relative;
        top: -.1em;
        margin: 0 6px;
      }
    }
  }
  .country {
    color: #bcb9b5;
    text-transform: uppercase;
  }
  .grey {
    color: #bcb9b5;
  }
}