@import '../../assets/styles/index.scss';

.card {
  min-height: 280px;
  padding: 3rem;
  height: 100%;
  overflow: hidden;
  transition: all 0.25s ease-out;
  min-width: 280px;
  position: relative;
  box-shadow: 0 0 2px $gray;

  &:hover {
    .recycle-bin {
      opacity: 0.7;
    }
  }

  @include screenMax500 {
    padding: 32px;
  }

  .recycle-bin {
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.2s linear;
    cursor: pointer;
    top: 12px;
    right: 16px;

    @include screenMax500 {
      top: 6px;
      right: 8px;

      button {
        padding: 4px;
      }
    }
  }

  .button-light {
    background: $white;
  }

  .button-dark {
    background: $graphite;
  }

  .grey {
    color: $gray;
  }

  .mt20 {
    margin-top: 20px;
  }

  .button-light {
    background: $white;
  }

  .button-dark {
    background: $graphite;
  }

  .grey {
    color: $gray;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textArea {
  min-height: 100px;
}

.ckEditorContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  width: 90%;
}

.message {
  display: flex;
  min-height: 42px;
  white-space: pre-wrap;
  align-items: flex-start;
  margin-top: 15px;
  position: relative;
  left: 20px;

  .messageText {
    margin-top: 16px;
  }
}
