@import '../../../../styles/index.scss';

%body {
  max-width: 450px;
  padding: $space-xl;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space-l;
  }

  .modalTitle {
    font-family: roboto-bold;
    font-size: $fs20;
  }

  ul {
    margin: $space-m;
  }

  li {
    margin: $space-xs 0;
  }

  .versionContainer {
    margin-top: $space-m;
  }
}

.lightBody {
  @extend %body;
  background-color: $lightColor;
  color: $darkColor;
}

.darkBody {
  @extend %body;

  background-color: $darkColor;
  color: $lightColor;
}
