@import '../../../../styles/index.scss';

%body {
  width: 1fr;
  min-height: 100px;
  padding: $space-s;
  margin: $space-s;
  position: relative;
  border: 2px solid transparent;
  transition: 0.2s;
  display: flex;
  flex-direction: column;

  .deleteButton {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: $lightGrayColor;
    color: $darkGrayColor;

    &:hover {
      background-color: $redColor;
      color: $whiteColor;
    }

    .icon {
      font-size: $fs16;
    }
  }

  .opaccityBlock {
    display: none;
    opacity: 0;
    transition: 0.2s;
  }

  .moveLeftOrRight {
    position: relative;
    left: -45px;
  }

  &:hover {
    .opaccityBlock {
      opacity: 1;
    }

    .moveLeftOrRight {
      left: 0px;
    }
  }

  .infoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      margin-right: $space-s;
    }

    .leftSide {
      display: flex;
      transition: 0.2s;

      .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .bottomInfo {
        color: $grayColor;
        text-align: start;
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .bottomInfo {
        color: $grayColor;
        text-align: end;
      }
    }

    .topInfo {
      font-family: roboto-medium;
      font-size: $fs18;
      margin-bottom: $space-xxs;
    }
  }

  .commentBlock {
    margin-top: $space-xs;
    margin-left: $space-xxs;

    .commentText {
      font-family: roboto-bold;
      margin-right: $space-xxs;
    }
  }
}

.hide {
  opacity: 0;
}

.lightBody {
  @include lightBlock;
  @extend %body;

  color: $darkColor;
}

.darkBody {
  @include darkBlock;
  @extend %body;

  color: $lightColor;
}

.currentBody {
  border: 2px solid $blueColor;
}

.shaking {
  position: relative;
  animation-duration: 0.7s;
  animation-name: shaking;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(-0.5deg);
  }
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}

%commentModal {
  width: 250px;
  padding: $space-s;

  .modalTitle {
    font-family: roboto-bold;
    font-size: $fs20;
    margin-bottom: $space-l;
  }

  .input {
    width: 100%;
    border: 1px solid $blueColor;
    border-radius: 5px;
    height: 50px;
    padding: $space-s;
    font-size: $fs14;
    transition: 0.2s;

    &:focus {
      outline: 1.5px solid $blueColor;
    }

    &::placeholder {
      color: $grayColor;
    }
  }

  .buttonContainer {
    margin-top: $space-s;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      color: $blueColor;
    }
  }
}

.lightCommentModal {
  @extend %commentModal;

  background-color: $lightColor;
  color: $darkColor;

  .input {
    background-color: $lightColor;
    color: $darkColor;
  }
}

.darkCommentModal {
  @extend %commentModal;

  background-color: $darkColor;
  color: $lightColor;

  .input {
    background-color: $darkColor;
    color: $lightColor;
  }
}
