@import '../../../../styles/index.scss';

.active {
  background-color: $redColor;
  color: $whiteColor;
}

.container {
  margin: $space-s;

  @include screenMax600 {
    margin-bottom: 0;
  }
}

%body {
  width: 1fr;
  min-height: 100px;
  padding: $space-s;
  position: relative;
  border: 2px solid transparent;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  clip-path: inset(-100vw -100vw -100vw 0);

  &:focus-within {
    outline: none;

    & .deleteButton {
      @extend .active;
    }
  }

  .deleteButton {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: $lightGrayColor;
    color: $darkGrayColor;

    &:hover {
      @extend .active;
    }

    .icon {
      font-size: $fs16;
    }
  }

  .opaccityBlock {
    display: none;
    opacity: 0;
    transition: 0.2s;
  }

  .moveLeftOrRight {
    position: relative;
    left: -45px;
  }

  &:hover {
    @extend .onboarding;
  }

  .infoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      margin-right: $space-s;

      &:hover {
        @extend .onboarding;
      }
    }

    .leftSide {
      display: flex;
      transition: 0.2s;
      flex-grow: 1;

      .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .bottomInfo {
        color: $grayColor;
        text-align: start;
      }
    }

    .topInfo {
      font-family: roboto-medium;
      font-size: $fs18;
      margin-bottom: $space-xxs;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .commentBlock {
    margin-top: $space-xs;
    margin-left: $space-xxs;

    .commentText {
      font-family: roboto-bold;
      margin-right: $space-xxs;
    }
  }
}

.hide {
  opacity: 0;
}

.lightBody {
  @include lightBlock;
  @extend %body;

  color: $darkColor;

  &:focus-within {
    border: 2px solid $darkGrayColor;
  }
}

.darkBody {
  @include darkBlock;
  @extend %body;

  color: $lightColor;

  &:focus-within {
    border: 2px solid $lightGrayColor;
  }
}

.currentBody {
  border: 2px solid $blueColor;
}

.shaking {
  position: relative;
  animation-duration: 0.7s;
  animation-name: shaking;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(-0.5deg);
  }
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}

.onboarding {
  .opaccityBlock {
    opacity: 1;
  }

  .moveLeftOrRight {
    left: 0px;
  }
}

.planningMode {
  animation-duration: 2s;
  animation-name: planningMode;
  animation-iteration-count: infinite;
}

@keyframes planningMode {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.marginRight {
  @include screenMax600 {
    margin-right: 70px;
  }
}
