header.bg-blue {
    background-color: $epam-blue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    width: 100%;
    min-height: 100vh;
}

.flex-column{
    flex-direction: column;
}

.fs-3{
    font-size: 3rem;
}

.p-2{
    padding: 1.6em 1em;
}

.m-2{
    margin: 1.6em 1em;
}
.m-1{
    margin: 1em .6em;
}