@import '../../styles/index.scss';

.container {
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: center;
}

.container-light {
  background: $white;
}

.container-dark {
  background: $graphite;
}

.noCities {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fs20;
}

.noCitiesLight {
  color: $graphite;
}

.noCitiesDark {
  color: $white;
}

@media screen and (max-width: 600px) {
  .noCities {
    font-size: $fs16;
  }
}
