@import '../../assets/styles/index.scss';

.time {
  color: $epam-black;
  display: flex;
  .hour {
    &:after {
      content: ':';
      position: relative;
      top: -0.1em;
      margin: 0 6px;
    }
  }
}

.timezone {
  font-size: 0.875rem;
}

.locationContent {
  @include screenMax500 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.date-and-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include screenMax500 {
    margin: 12px;
  }
}

.location {
  @include screenMax500 {
    margin: 4px;
  }
}
