@import '../../assets/styles/constants/colors.scss';

.time {
  color: $epam-black;
  display: flex;
  .hour {
    &:after {
      content: ":";
      position: relative;
      top: -.1em;
      margin: 0 6px;
    }
  }
}