@import '../../../../styles/index.scss';

.text {
  font-size: $fs14;
  color: #bcb9b5;
  margin-top: $space-xxs;
  margin-bottom: $space-xxs;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hostLight {
  padding: $space-xxxxs $space-xs;
  color: $white;
  background-color: $epam-blue;
  border-radius: 20px;
  font-size: $fs12;
  width: 100px;
}

.hostDark {
  padding: $space-xxxxs $space-xs;
  color: $white;
  background-color: $epam-blue;
  border-radius: 20px;
  font-size: $fs12;
  width: 100px;
  margin: $space-xxs 0;
}
