.paper {
  width: 400px;
  min-height: 150px;
}
@media screen and (max-width: 360px) {
  .paper {
    width: 315px;
  }
}
@media screen and (min-width: 360px) and (max-width: 600px) {
  .paper {
    width: 90vw;
  }
}
