@import '../../styles/index.scss';

.body {
  max-width: $parentMaxWidth;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin-left: auto;
  margin-right: auto;
  padding-right: $space-s;
  padding-left: $space-s;

  > :last-child {
    z-index: -1;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include screenMax600 {
    padding-right: 0;
    padding-left: 0;
  }
}

.laneModeViewContainer {
  width: 100vw;
  display: flex;
  padding-right: $space-s;
  padding-left: $space-s;

  @include screenMax600 {
    flex-direction: column;
    width: 450px;
    margin-right: $space-s;
    height: 85vh;
    overflow: scroll;
  }
}

.locationsContainer {
  width: 20%;
  min-width: 310px;

  @include screenMax600 {
    display: flex;
    width: auto;
    position: sticky;
    top: 0;
  }
}

.laneBlockContainer {
  width: 100%;
  overflow-x: scroll;

  @include screenMax600 {
    display: flex;
    width: auto;
    overflow-x: unset;
  }
}

.emptyBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginBottom {
  margin-bottom: 50px;
  @include screenMax600 {
    margin-bottom: 0;
  }
}

.paddingLeft {
  @include screenMax600 {
    padding-left: 0;
  }
}

.lightBody {
  @include lightBlock;

  background-color: $lightColor;
  color: $darkColor;
}

.darkBody {
  @include darkBlock;

  background-color: $darkGrayColor;
  color: $whiteColor;
}
