@import '../../styles/index.scss';

.body {
  max-width: $parentMaxWidth;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  margin-left: auto;
  margin-right: auto;
  padding-right: $space-s;
  padding-left: $space-s;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  @include screenMax600 {
    padding-right: 0;
    padding-left: 0;
  }
}

.laneModeViewContainer {
  width: 95vw;
  display: flex;
  padding-right: $space-s;
  padding-left: $space-s;

  @include screenMax600 {
    flex-direction: column;
  }

  .locationsContainer {
    width: 20%;
    min-width: 310px;
  }

  .laneBlockContainer {
    width: 80%;
    overflow-x: scroll;
  }

  .laneModeLocations {
    @include screenMax600 {
      display: flex;
    }
  }

  .timeTable {
    width: 80%;
    display: flex;
    overflow: auto;

    @include screenMax600 {
      width: min-content;
      flex-direction: column;
    }

    .timeCol {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      @include screenMax600 {
        flex-direction: row;
      }

      .timeCell {
        padding: $space-s $space-m;
        height: 100%;
        display: grid;
        place-items: center;

        @include screenMax600 {
          width: 150px;
        }
      }
    }
  }
}

.laneModeView {
  grid-template-columns: 1fr;
}

.emptyBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginBottom {
  margin-bottom: 50px;
  @include screenMax600 {
    margin-bottom: 0;
  }
}

.paddingLeft {
  @include screenMax600 {
    padding-left: 0;
  }
}

.lightBody {
  @extend .timeTable;
  @extend .timeCol;
  @include lightBlock;

  background-color: $lightColor;
  color: $darkColor;

  .timeCol {
    &:hover {
      background-color: $lightGrayColor;
    }
  }
}

.darkBody {
  @extend .timeTable;
  @extend .timeCol;
  @include darkBlock;

  background-color: $darkGrayColor;
  color: $whiteColor;

  .timeCol {
    &:hover {
      color: $whiteColor;
      background-color: $darkColor;
    }
  }
}
