@import '../../styles/index.scss';

.body {
  max-width: $parentMaxWidth;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  margin-left: auto;
  margin-right: auto;
  padding-right: $space-s;
  padding-left: $space-s;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  @include screenMax600 {
    padding-right: 0;
    padding-left: 0;
  }
}

.laneModeViewContainer {
  width: 100%;
  display: flex;
  overflow: auto;

  > div {
    width: 20%;
  }

  .timeTable {
    width: 80%;
    background-color: $whiteColor;
    display: flex;
    // flex-direction: column;

    overflow: auto;

    // .timeRow {
    //   display: flex;
    //   height: 100%;

    //   .timeColumn {
    //     display: flex;
    //     align-items: center;
    //     padding: $space-s $space-m;
    //   }
    // }

    .timeCol {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &:hover {
        background-color: $lightGrayColor;
      }

      .timeCell {
        padding: $space-s $space-m;
        height: 100%;
        display: grid;
        place-items: center;
      }
    }
  }
}

.laneModeView {
  grid-template-columns: 1fr;
}

.emptyBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginBottom {
  margin-bottom: 50px;
  @include screenMax600 {
    margin-bottom: 0;
  }
}

.paddingLeft {
  @include screenMax600 {
    padding-left: 0;
  }
}
